body{
    background: #7a3a91;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #83669d, #c2add8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9c91a3, #443f48); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#homecontainer{
    margin-top: 10%;
}